/**
 * @name madara
 * @author TOMxSurya
 * @version 1.0.0
 * @description A theme with TOMxSurya fighting 
 * @source https://raw.githack.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/master/Themes/GGO_Kirito/core.css
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githack.com/TOMxSurya/Discord_themes/main/Naruto/core.css');

:root{
    --background: url('https://cdn.discordapp.com/attachments/1150156471208775867/1160269971776081980/839944.jpg?ex=65340c9e&is=6521979e&hm=6d6ca07f38932cc22e2a950c725569a91f82f819887bd15c5489b35f366d3587&');
    --activetext-colour: white;

    --primary1-colour: red;
    --primary2-colour: rgba(255,0,0,0.5);
    --primary3-colour: rgba(100,0,0,0.6);

    --secondary1-colour: rgba(0, 0, 0, 0.3);
    --secondary2-colour: rgba(100,100,100,0.5);
    --secondary3-colour: rgba(0,0,0,0.5);

    --transparency-1: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0,0,0,0.5));
    --transparency-2: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0,0,0,0.5));
    --transparency-3: linear-gradient(to left, rgba(255, 0, 0, 0.295), rgba(0,0,0,0.5));
    --transparency-4: linear-gradient(to left, rgb(12, 12, 12), rgba(0,0,0,0.5));
    --transparency-5: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5));
}
  
/*
Theme Owned and Made by TOMxSurya
  
Background Img: https://wpblink.com/sites/default/files/wallpaper/anime/66761/sword-art-online-ii-wallpapers-hd-66761-327252.png 
Transparency2 Module: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048

The 2 items above are not owned by me, They go to there respected owners 
*/
